.example-viewport {
  height: 300px;
  width: 100%;
  border: 1px solid black;
}

table {
  width: 100%;
}

.spinner-item {
  display: grid;
  place-items: center;
  margin-top: 10px;
}

// ::ng-deep .cdk-virtual-scroll-content-wrapper {
// transform: translateY(0px) !important;
// }
